  /* NAV BAR */


.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #92AA83;
    height: 50px;
  }
  
  .nav-item {
    display: inline-block;
    font-size: 18px;
    color: #f8f9fa;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    line-height: 50px;
  }
    .nav-item:hover {
    background-color: #b0bba9;
    color: white;
  }
  
  .nav-item.active {
    background-color: gray;
    color: white;
  }

/*TITLES*/


h1 {
    color: #313a2c;
    padding-left: 100px;
}

h2 {
    padding-left: 100px;
}

body {
    background-color: #F1F7ee;
    font-family: 'Murecho', sans-serif;
}

.section {
    height: 45vh;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #313a2c;
}

a {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    padding-left: 175px;
    text-align: center;
    color: #313a2c;

  }
  
  i {
    color: #313a2c;
    margin-right: 5px;
    font-size: 30px;
    text-align: center;
  }

  .project {
    display: inline-block;
    margin: 20px; 
    text-align: center; 
    transition: transform 0.5s; 
  }
  
  .project img {
    width: 300px; 
  }
  
  .project p {
    text-align: center; 
    margin-top: 10px; 
  }

  .portTitle {
    padding: 40px;
    text-align: center;
  }