  /* NAV BAR */


.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b08968;
    height: 50px;
  }
  
  .nav-item {
    display: inline-block;
    font-size: 18px;
    color: #ede0d4;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    line-height: 50px;
  }
    .nav-item:hover {
    background-color: #e6ccb2;
    color: white;
  }
  
  .nav-item.active {
    background-color: gray;
    color: white;
  }

/*TITLES*/


h1 {
    color: #7f5539;
    padding-left: 100px;

}

h2 {
    padding-left: 100px;
}

body {
    background-color: #e6ccb2;
    font-family: 'Lexend', sans-serif;
}

.section {
    height: 25vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    padding-left: 175px;
    text-align: center;

  }
  
  i {
    color: #333;
    margin-right: 5px;
    font-size: 25px;
    text-align: center;
  }

  .project {
    display: inline-block;
    margin: 20px; 
    text-align: center;
  }
  
  .project img {
    width: 300px; 
  }
  
  .project p {
    text-align: center; 
    margin-top: 10px; 
  }